*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
nav{
    width: 100%;
    /* max-width: 1380px; */
    height: 90px;
    margin: 0 auto;
    display: flex;
    /* text-align: center; */
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 20px 30px;
    background: linear-gradient(to bottom, #000000, #ffffff);
    /* z-index:-1; */
    justify-content: space-between;
    background-color: #000000;
    
}
.nav-manu{
    width: 100%;
    max-width: 1380px;
    height: 100%;
     display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.left{
    width: 15%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.left img{
    width: 200px;
    height:70px;
    /* object-fit: cover; */
}
.middle{
    width: 60%;
    height: 90px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.middle a{
    font-size: 0.8rem;
    color: #ffffff;
    text-transform: uppercase;
    gap: 20px;
    letter-spacing: 0;
}
.shop{
    width: 20%;
    height: 90px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.shop h1{
    font-size: 1rem;
    color: #ffffff;
}
.shop svg{
    width: 70px;
    height: 20px;
    fill: white;
    cursor: pointer;
}
.first-container{
    width: 100%;
    height: 100%;
    background-image: url("https://sxcontent9668.azureedge.us/cms-assets/assets/Launch_Page_Starlink1_vertical_18_DESKTOP_3d33146ef8.jpg");
    background-position:center;
   
    background-size: cover;
  
    background-repeat: no-repeat;
    position: absolute;
    display: block;
}
.section{
    display: block;
    height: 130vh;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}
.inner-content{
    display: block;
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.content{
    color: #ffffff;
    position: absolute;
    top: 60vh;
    width: 50%;
    max-width: 520px;
    
    text-align: left;
    /* display: block; */
    /* justify-content: center; */
    /* align-items: center; */
    /* left: 7vw; */
    
}
.content h3{
    color: white;
    font-size: 25px;
    font-weight: 400;
}
.content h1{
    color: white;
    font-size: 60px;
    font-weight: 500;
}
button{
    width: 150px;
    height: 50px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}
button:hover{
    background-color: #ffffff;
    color: black;
    border-color: #ffffff;
    transform: scale(1);
}
.second-container{
     width: 100%;
    height: 100%;
    background-image: url('https://sxcontent9668.azureedge.us/cms-assets/assets/Star12_23_042725_streak_desktop_62f4bcefef.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
   
}
.content-1{
    color: #ffffff;
    position: absolute;
    top: 60vh;
    width: 50%;
    max-width: 520px;
    
    text-align: left;
    
}
.content-1 h3{
    color: white;
    font-size: 25px;
    font-weight: 400;
}
.content-1 h1{
    color: white;
    font-size: 60px;
    font-weight: 500;
}
button{
    width: 150px;
    height: 50px;
    background-color: transparent;
    color: white;
    border-radius: 10px;
}
.third-container{
    width: 100%;
    height:100%;
    background-image: url('https://sxcontent9668.azureedge.us/cms-assets/assets/Eva_Suit_Desktop_alternate_1cf9bae18e.jpg');
   background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
   
}
.content-2{
    color: #ffffff;
    position: absolute;
    top: 60vh;
    width: 50%;
    max-width: 520px;
    
    text-align: left;
}
.content-2 h3{
    color: white;
    font-size: 25px;
    font-weight: 400;
}
.content-2 h1{
    color: white;
    font-size: 60px;
    font-weight: 500;
}
.fourth-container{
     width: 100%;
    height: 100%;
    background-image: url('https://sxcontent9668.azureedge.us/cms-assets/assets/make_life_multiplanetary_desktop_3fa7cff73c.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
   
}
.content-3{
    color: #ffffff;
    position: absolute;
    top: 60vh;
    width: 50%;
    max-width: 520px;
    
    text-align: left;
    
}
.content-3 h3{
    color: white;
    font-size: 25px;
    font-weight: 400;
}
.content-3 h1{
    color: white;
    font-size: 60px;
    font-weight: 500;
}
footer{
    width: 100%;
    height: 110px;
    background-color: #0a0a0a;
    display: grid;
    margin: 0 auto;
    padding: 10px;
    /* grid-template-columns: 1fr; */
    align-items: center;
    justify-content: center;
    text-align: center;
}
.footer-links{
    width: 100%;
    max-width: 1250px;
    gap: 35px;
    /* padding: 10px; */
    margin: 0 auto;
    display: flex;
    color: white;

}
.footer-links a{
    text-decoration: none;
    color: #eeeeee;
    font-size: 1rem;
}
.arbaj{
    width: 100%;
    max-width: 1250px;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
    display: grid;
   /* gap: 40px; */

}
.arbaj h1{
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    
}
.arbaj strong{
    font-size: 22px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: #ff0000;
}
.arbaj a{
    list-style: none;   
    text-decoration: none;
}
.hamburger{
    display: none;
}
@media (max-width: 768px) {
    .middle, .shop{
        display: none;
    }
     .left{
    width: fit-content;
   }

   .logo{
    height: 40px;
    width: auto;
   }
   .left{
    margin: 0 auto;
   }
   
   nav{
    width: 100%;
    padding: 7px;
    margin: 0;

    height: 50px;

   }
   .inner-content{
    left: 50px;
   }
   .hamburger{
    display: block;
    width: 20px;
    /* fill: black; */
    height: 20px;
    padding: 0;
    position: relative;
    justify-self: flex-end;
}

    .content h4{
        font-size: 2rem;
    }

    .content h1{
        font-size: 2rem;
    }

    .content button{
        height: 70;
        width: 150px;
        border: 1px solid white;
        font-size: 1rem;
    }
     .content-1 h4{
        font-size: 2rem;
    }

    .content-1 h1{
        font-size: 2rem;
    }

    .content-1 button{
        height: 70;
        width: 150px;
        border: 1px solid white;
        font-size: 1rem;
    }
     .content-2 h4{
        font-size: 2rem;
    }

    .content-2 h1{
        font-size: 2rem;
    }

    .content-2 button{
        height: 70;
        width: 150px;
        border: 1px solid white;
        font-size: 1rem;
    }
     .content-3 h4{
        font-size: 2rem;
    }

    .content-3 h1{
        font-size: 2rem;
    }

    .content-3 button{
        height: 70;
        width: 150px;
        border: 1px solid white;
        font-size: 1rem;
    }
    .footer-links a{
        font-size: 0.70rem;
        padding: 10px;
    }
    .arbaj h1{
        font-size: 0.70rem;
    }
    .arbaj strong{
        font-size: 0.95rem;
    }
}    